body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #ff6b6b;
}

.hero, .about-section, .projects-section, .cv-section {
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.hero h2 {
    font-size: 2rem;
}

.hero p, .about-section p, .projects-section p, .cv-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

.hero .btn {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.tab-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}

.tab {
    display: flex;
    justify-content: flex-start;
}

.tab button {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}

.tab button:hover {
    background-color: #e0e0e0;
}

.tab button.active {
    background-color: #ff6b6b;
    color: white;
    border: none;
}

.tabcontent {
    display: flex;
    flex-direction: column; /* Alt alta görüntüleme */
    align-items: center; /* Ortalar */
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px; /* Maksimum genişlik */
    margin: 0 auto; /* Ortalamak için */
    padding: 20px 0; /* Üst ve alt padding ekleyin */
    border-bottom: 1px solid #333; /* Siyah çizgi ekler */
}

.project-content:last-child {
    border-bottom: none; /* Son öğe için çizgi eklemeyin */
}

.project-content video {
    width: 100%;
    max-width: 300px; /* Video genişliği için maksimum değer */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.project-description {
    flex: 1;
    margin-left: 20px;
}

.project-description h3 {
    font-size: 1.75rem;
    margin-top: 0;
}

.project-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.875rem;
}

/* CV Section */
.cv-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.pdf-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 174vh; /* Full viewport height */
    overflow: hidden; /* Hide overflow if necessary */
}

.pdf-container iframe {
    width: 100%;
    height: 100% !important; /* Force height to 100% */
    border: none; /* No border */
}


