/* Sekme düğmelerinin stilini ayarla */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

/* Sekme düğmeleri */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Sekme düğmeleri üzerine gelince arka plan rengini değiştir */
.tab button:hover {
    background-color: #ddd;
}

/* Aktif sekme düğmesi */
.tab button.active {
    background-color: #ccc;
}

/* Sekme içerik alanı */
.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

/* Sekme içeriğindeki görüntülerin stili */
.tabcontent img {
    max-width: 100%;
    height: auto;
}

/* Sekme içeriğindeki video elementlerinin stili */
.tabcontent video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
